* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
}
h1 {
  font-size: 2rem;
  margin: 4rem 0 2rem 0;
  padding-bottom: rem;
  font-weight: bold;
}
.col {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.score-0,
.score-1 {
  font-size: 6rem;
}
#dice {
  width: 40%;
  cursor: pointer;
}
.box-0,
.box-1 {
  background-color: black;
  margin: 1rem;
  width: 60%;
}
.newGame {
  margin: 2rem 0 6rem 0;
}
.roll {
  margin: 4rem 0 1rem 0;
}
.roll,
.hold,
.newGame {
  font-size: 1rem;
  cursor: pointer;
}
.current-0,
.current-1 {
  color: #f99185;
  font-size: 1rem;
}
.scoreSave-0,
.scoreSave-1 {
  color: #cf556c;
  font-size: 1.5rem;
}
@media screen and (max-width: 767.9px) {
  .roll {
    margin-top: 9rem;
  }
  #dice {
    width: 60%;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 532px) {
  h1 {
    font-size: 1.9rem;
  }
}

@media screen and (max-width: 508px) {
  h1 {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 487px) {
  h1 {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 464px) {
  h1 {
    font-size: 1.6rem;
  }
  .current-0,
  .current-1 {
    font-size: 0.9rem;
    margin-top: 0.2rem;
  }
}
@media screen and (max-width: 440px) {
  h1 {
    font-size: 1.5rem;
  }
  .current-0,
  .current-1 {
    font-size: 0.8rem;
    margin-top: 0.2rem;
  }
}
@media screen and (max-width: 416px) {
  h1 {
    font-size: 1.4rem;
  }
  .newGame {
    font-size: 0.9rem;
  }
  .current-0,
  .current-1 {
    font-size: 0.7rem;
    margin-top: 0.2rem;
  }
  .roll,
  .hold {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 395px) {
  h1 {
    font-size: 1.3rem;
  }
  .newGame {
    font-size: 0.8rem;
  }
  .current-0,
  .current-1 {
    font-size: 0.6rem;
    margin-top: 0.2rem;
  }
  .roll,
  .hold {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 375px) {
  h1 {
    font-size: 1.3rem;
  }
  .newGame {
    font-size: 0.8rem;
  }
  .current-0,
  .current-1 {
    font-size: 0.6rem;
    margin-top: 0.2rem;
  }
  .roll,
  .hold {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 344px) {
  h1 {
    font-size: 1.1rem;
  }
  .newGame {
    font-size: 0.7rem;
  }
  .current-0,
  .current-1 {
    font-size: 0.5rem;
    margin-top: 0.2rem;
  }
  .roll,
  .hold {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 320px) {
  h1 {
    font-size: 1rem;
  }
  .newGame {
    font-size: 0.7rem;
  }
  .current-0,
  .current-1 {
    font-size: 0.5rem;
    margin-top: 0.2rem;
  }
  .roll,
  .hold {
    font-size: 0.7rem;
  }
  #dice {
    width: 80%;
    margin-top: 0.7rem;
  }
}
@media screen and (max-width: 991px) {
  .roll {
    margin-top: 5rem;
  }
}
