* {
  font-family: "Square Peg", cursive;
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
}
.middle {
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 33%;
}
.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
h1 {
  font-size: 4rem;
  margin: 10rem 0 4rem 0;
  padding-bottom: rem;
}
.left {
  grid-area: 1 / 1 / 2 / 2;
}
.right {
  grid-area: 1 / 2 / 2 / 3;
}
.left,
.right {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.score1,
.score2 {
  font-size: 8rem;
}
#dice {
  width: 50%;
}
.box1,
.box2 {
  border: 1px dashed black;
  width: 20%;
  background-color: black;
  margin-top: 9rem;
}
.score-save1,
.score-save2 {
  font-size: 5rem;
}
h2 {
  margin-top: 0.5rem;
}
.new-game {
  display: flex;
  flex-direction: row;
  margin: 4rem 0 10rem 0;
}
.roll {
  margin: 10rem 0 2rem 0;
}
.roll,
.hold,
.new-game {
  font-size: 2rem;
  cursor: pointer;
}
svg {
  width: 20px;
  padding-right: 10px;
  cursor: pointer;
}
.current1,
.score-save1 {
  color: #f99185;
}
.current2,
.score-save2 {
  color: #cf556c;
}
