* {
  font-family: "Square Peg", cursive;
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
}
h1 {
  font-size: 4rem;
  margin: 7rem 0 3rem 0;
  padding-bottom: rem;
  font-weight: bold;
}
.col {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.score1,
.score2 {
  font-size: 8rem;
}
#dice {
  width: 50%;
  cursor: pointer;
}
.box1,
.box2 {
  background-color: black;
  margin-top: 3rem;
  width: 80%;
}
.score-save1,
.score-save2 {
  font-size: 5rem;
}
h2 {
  margin-top: 1rem;
}
.new-game {
  margin: 4rem 0 6rem 0;
}
.roll {
  margin: 6rem 0 2rem 0;
}
.roll,
.hold,
.new-game {
  font-size: 2rem;
  cursor: pointer;
}
.current1,
.score-save1 {
  color: #f99185;
}
.current2,
.score-save2 {
  color: #cf556c;
}
